
<app-add-task (onAddTask)="addTask($event)"></app-add-task>
<!-- *ngFor learn  [task]="task" -->
<app-task-item *ngFor="let task of tasks" [task]="task" (onDeleteTask)="deleteTask(task)"
    (onToggleReminder)="toggleReminder(task)">
    {{task.text}}
</app-task-item>